# Lending Club Project

Lending Club é uma empresa dos Estados Unidos que trabalha com empréstimos _peer to peer_ (pessoas para pessoas), onde os investidores fornecem fundos para potenciais pessoas que querem empréstimo e recebem um ganho dependendo do risco que eles assumem (o score de crédito das pessoas que pegam empréstimo).
Lending Club é a "ponte" entre os investidoeres e as pessoas que precisam de um empréstimo. Para mais informações veja esse artigo da wikipédia sobre a empresa.

![Image of Yaktocat](http://echeck.org/wp-content/uploads/2016/12/Showing-how-the-lending-club-works-and-makes-money-1.png)

In [1]:
#importe suas libs aqui

In [3]:
#import os dados

In [4]:
df = pd.read_csv('lending-club-loan-data-light/small_loan.csv')

/home/bahbbc/.local/share/virtualenvs/lending_challenge-tdJTq15Q/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning:

Columns (113,124,125,126,129,130,131,134,140,141,142) have mixed types. Specify dtype option on import or set low_memory=False.

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_month,issue_year
0,0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Dec,2018
1,1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Dec,2018
2,2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Dec,2018
3,3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Dec,2018
4,4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,...,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,Dec,2018

## EDA - 60 min

In [8]:
#antes vamos renomear alguns campos

In [9]:
# Replace the name of some columns
df = df.rename(columns={"loan_amnt": "loan_amount", "funded_amnt": "funded_amount", "funded_amnt_inv": "investor_funds",
                       "int_rate": "interest_rate", "annual_inc": "annual_income"})

# Drop irrelevant columns
df.drop(['id', 'member_id', 'emp_title', 'url', 'desc', 'zip_code', 'title'], axis=1, inplace=True)

- Quanto foi solicitado pelas pessoas que pediram empréstimo? (loan_amount)
- Quanto foi emprestado pelas pessoas? (funded_amount)
- Quanto foi usado pelos investidores (investor_funds)

(veja se esses valores batem)

Quais os anos que os empréstimos foram gerados?

In [11]:
#plot os anos onde os empréstimos foram gerados

### Bons e maus pagadores

O que acontece quando uma das pessoas não paga o empréstimo? Quais as possíveis categorias do empréstimo que possuem?

Veja na categoria `loan_status`

In [ ]:
#veja aqui

Vamos considerar as categorias `Charged Off`, `Default`, `Does not meet the credit policy. Status:Charged Off`, `In Grace Period`, `Late (16-30 days)`, `Late (31-120 days)` como indicadores de um mal empréstimo.

In [1]:
# você deverá criar a variável do que é um 'bad_loan' combinando essas variáveis.

In [16]:
# plot graficos para verificar a proporção de mau pagadores do dataset e também o montante de mau pagadores por ano

In [18]:
### Verificar a quantidade de dinheiro emprestado por região

In [19]:
df['addr_state'].unique()

# Make a list with each of the regions by state.

west = ['CA', 'OR', 'UT','WA', 'CO', 'NV', 'AK', 'MT', 'HI', 'WY', 'ID']
south_west = ['AZ', 'TX', 'NM', 'OK']
south_east = ['GA', 'NC', 'VA', 'FL', 'KY', 'SC', 'LA', 'AL', 'WV', 'DC', 'AR', 'DE', 'MS', 'TN' ]
mid_west = ['IL', 'MO', 'MN', 'OH', 'WI', 'KS', 'MI', 'SD', 'IA', 'NE', 'IN', 'ND']
north_east = ['CT', 'NY', 'PA', 'NJ', 'RI','MA', 'MD', 'VT', 'NH', 'ME']



df['region'] = np.nan

def finding_regions(state):
    if state in west:
        return 'West'
    elif state in south_west:
        return 'SouthWest'
    elif state in south_east:
        return 'SouthEast'
    elif state in mid_west:
        return 'MidWest'
    elif state in north_east:
        return 'NorthEast'
    


df['region'] = df['addr_state'].apply(finding_regions)

In [ ]:
# pode ser que seja interessante limpar algumas variáveis. Quais delas será que poderia ser modificadas?

Verificar as taxas do empréstimo (interest_rate), taxa de empregos por região (emp_length_int), taxa de dívida por renda (dti), renda mensal (annual_income) por região.

In [2]:
# Loan issued by Region and by Credit Score grade

In [3]:
# Pode ser interessante também olhar outras variáveis e compará-las com a variável resposta

### Vamos avaliar o score das pessoas

In [4]:
# verifique como o score se correlaciona com o mau pagamento

### O que determina um bom ou mau empréstimo?

Vamos verificar a correlação das variáveis

In [5]:
# faça as correlações aqui

In [31]:
# vamos verificar uma quantidade menor de variáveis

In [36]:
# motivo do empréstimo

## Feature engineering - 40 min

Lembre-se que a feature engineering depende bastante do algoritmo utilizado.

Passo a passo:
    
- Existem variáveis redundantes, ou que não tem efeito sobre as condições do empréstimo. Elimine-as.
- Lembre-se que o dataset está desbalanceado.
- Dependendo do algoritmo utilizado (ou caso deseje utilizar mais de um) é necessário fazer o enconde das variáveis categóricas e reescalar as variáveis numéricas.

## Modelagem - 30 min

Aplicar a modelagem escolhida

## Avaliação do modelo - 20 min

Verificar os resultados do modelo avaliado. Como este é um problema desbalanceado, pode não ser uma oa ideia utilizar acurácia, por exemplo. Uma métrica mais interessante pode ser o log-loss ou o AUC.